<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Plangular</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Angular directive for custom SoundCloud players">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/bassdock/1.2.1/bassdock.min.css">
  <!-- <link rel="stylesheet" href="http://d2v52k3cl9vedd.cloudfront.net/vhs/0.1.0/vhs.min.css"> -->
  <link rel="stylesheet" href="dist/plangular.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="dist/plangular.min.js"></script>
  <script src="dist/lodash.js"></script>
  <script src="dist/plangular.js"></script>

  <style>

  </style>

</head>
<body class="bg-dark" ng-app="app">

  <div class="teal">

    <section id="examples" class="container-narrow mx-auto px2 py3 vhs-bottom vhs-delay-3">
<!--       <div plangular="https://soundcloud.com/ambassadeurs/ambassadeurs-m-o-p-e" class="bg-darken-3 M4">
        <button ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded">
          <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
          <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
        </button>
        <h2 class="h4">{{track.user.username}} - {{track.title}}</h2>
        <samp class="h6">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
        <div class="progress-and-comments">
          <progress class="progress"
            ng-click="seek($event)"
            ng-value="currentTime / duration || 0">
            {{ currentTime / duration }}
          </progress>
          <div class="comments-bar">
            <li ng-repeat="comment in track.comments" ng-style="{left:setPosition(comment.timestamp)}">
              <img class="comment-pic circle" ng-src="{{comment.user.avatar_url}}" />
            </li>
          </div>
          <div class="comments-display">
            <li ng-repeat="comment in currentComments" ng-bind="comment.body"></li>
          </div>
        </div>
      </div>  -->


      <div plangular="https://soundcloud.com/ambassadeurs/ambassadeurs-m-o-p-e" class="p2 mb3 flex flex-center bg-darken-2 rounded">
        <button ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded"> 
          <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewbox="0 0 32 32" width="32" height="32" style="fill: currentcolor;">
            <path d="M4 4 L28 16 L4 28 z "></path>
          </svg>
          <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewbox="0 0 32 32" width="32" height="32" style="fill: currentcolor;">
            <path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path>
          </svg>
        </button>
        <h2 class="h4 caps flex-auto m0">{{track.user.username}} - {{track.title}}</h2>
        <samp class="h6">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
        <div class="progress-and-comments">
          <progress class="progress" ng-click="seek($event)" ng-value="currentTime / duration || 0"> {{ currentTime / duration }} </progress>
          <div class="comments-bar">
            <ul>
              <li ng-repeat="comment in track.comments" ng-style="{left:setPosition(comment.timestamp)}"><img class="comment-pic circle" ng-src="{{comment.user.avatar_url}}" /></li>
            </ul>
          </div>
          <div class="comments-display">
            <ul>
              <li ng-repeat="comment in currentComments">
                <img class="comment-pic circle" ng-src="{{comment.user.avatar_url}}" />
                <span class="comment-username" ng-bind="comment.user.username"></span>:
                <span ng-bind="comment.body"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </div>

  <div plangular class="fixed right-0 bottom-0 p2">
    <button
      ng-if="player.playing"
      ng-click="pause()"
      class="button button-small black bg-teal vhs-bottom">
      <svg class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor;top:-.0625em"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
      Pause
    </button>
  </div>

<script>
  var app = angular.module('app', ['plangular'])
    .config(function(plangularConfigProvider){
      plangularConfigProvider.clientId = 'aeb5b3f63ac0518f8362010439a77ca1';
    });
</script>

</body>
</html>
